* {
    outline: none;
}

html, body {
    margin : 0;
    height: 100%;
   
}

#menu{
    text-align: center;
   
}

#menu_haut {  
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    text-align: center;
    
}



li.onglet {
    cursor: pointer;
    float: left;
    display: block;
    color: #666;
    text-align: center;
    padding: 1.2vh 3vw;
    text-decoration: none;
    color :  #2C2F32;
}

li.onglet:hover{
    background-color: #C0C0C0; 
}

li.onglet a{
    text-decoration: none;
    cursor: pointer;
    color :  #2C2F32;
}

li.onglet.active {
    background-color: #1DADF4;
}

#cadre_general {
    border : 0px solid black;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 8vw;
    padding-right: 8vw;
}

#barre_recherche {
    width: 100%;
    border-radius: 8px;
    border : 1.3px solid #D0D0D0;
    padding-top : 0.8vh;
    padding-bottom : 0.8vh;
    padding-left: 0.5vw;
    outline:none;
}

#recherche_avancee {
    
    border : 1px solid black;
    padding-top: 3vh;
    padding-bottom:3vh;
    padding-right: 1.5vw;
    padding-left: 4vw;
    border-radius: 10px;
    margin-top: 3vh;
}

input.recherche_nom_prenom {
    width: 40%;
    padding-top : 1.2vh;
    padding-bottom : 1.2vh;
    text-align: center;
    
     border :1.3px solid #D0D0D0;
    
}

input#input_prenom {
    margin-left:12vw;
}

#div_contrat{
    margin-top: 3vh;
}

p#label_type_contrat {
    
    vertical-align: top;
    display: inline;
}

#type_contrat {
    vertical-align: top;
    display: inline;
    margin-left: 5vw;
    width: 20%;
     border :1.3px solid #D0D0D0;
}

#div_annee_debut, #div_annee_fin, #div_matieres, #div_recherche {
    margin-top: 3vh;
}

p#label_annee_debut, p#label_annee_fin, p#label_matieres {
    
    vertical-align: top;
    display: inline;
}

#annee_debut, #annee_fin, #matieres {
    vertical-align: top;
    display: inline;
    margin-left: 4.9vw;
    width: 20%;
     border :1.3px solid #D0D0D0;
    text-align: center;

}

#annee_fin{
    margin-left:5.8vw;
}

#matieres {
    margin-left:7.1vw;
    border-radius: 5px;
    border :1.3px solid #D0D0D0;
    width: 40%;
}

#bouton_recherche {
    cursor:pointer;
    padding-top: 0.8vh;
    border : 1.5px solid #1DADF4;
    background-color: #1DADF4;
    padding-bottom: 0.8vh;
    border-radius:10px;
    padding-left: 2vw;
    padding-right: 2vw;
}

#resultats_recherche{
    border : 0px dotted black;
    padding-top: 0vh;
    
    padding-left: 8vw;
    padding-right: 8vw;
    margin-right: 8vw;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 25%;

}

.cadre_resultat_x {
    border: 1px solid black;
    border-radius: 15px;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    margin-bottom: 2vh;
}

#bouton_exportation {
    cursor:pointer;
    padding-top: 0.8vh;
    margin-top:8vh;
    position: absolute;
    left:40%;
    border : 1.5px solid #1DADF4;
    background-color: #1DADF4;
    padding-bottom: 0.8vh;
    border-radius:10px;
    padding-left: 2vw;
    padding-right: 2vw;
}








