* {
    outline: none;
}

html, body {
    margin : 0;
    height: 100%;

}

#menu{
    text-align: center;

}

#menu_haut {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    text-align: center;

}

li.onglet {
    cursor: pointer;
    float: left;
    display: block;
    color: #666;
    text-align: center;
    padding: 1.2vh 3vw;
    text-decoration: none;
    color :  #2C2F32;
}

li.onglet:hover{
    background-color: #C0C0C0;
}

li.onglet a{
    text-decoration: none;
    cursor: pointer;
    color :  #2C2F32;
}

li.onglet.active {
    background-color: #1DADF4;
}

#cadre_general {
    border : 0px solid black;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 8vw;
    padding-right: 8vw;
}

#bloc_ajout {
    border : 1px solid black;
    padding-top: 3vh;
    padding-bottom:3vh;
    padding-right: 1.5vw;
    padding-left: 4vw;
    border-radius: 10px;
    margin-top: 3vh;
}

input.champs {
    width: 40%;
    padding-top : 1.2vh;
    padding-bottom : 1.2vh;
    text-align: center;
    border :1.3px solid #D0D0D0;
    margin-bottom: 10px;
}

input#droite {
    margin-left:12vw;
}

#div_champs{
    margin-top: 3vh;
}

p#label_champs {

    vertical-align: top;
    display: inline;
}

#champs {
    vertical-align: top;
    display: inline;
    margin-left: 5vw;
    width: 20%;
     border :1.3px solid #D0D0D0;
}

#bouton_ajout, #bouton_csv {
    cursor:pointer;
    padding-top: 0.8vh;
    border : 1.5px solid #1DADF4;
    background-color: #1DADF4;
    padding-bottom: 0.8vh;
    border-radius:10px;
    padding-left: 2vw;
    padding-right: 2vw;
}
